body {
    margin: 0;
    text-align: center;
    font-family: "Smythe", sans-serif;
    background: #f5f5f5;
}

main {
    background-color: #FFFFFF;
    width: 600px;
    margin: auto;
   
}

h1 {
    font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input{
    padding: 20px;
    font-size: 16px;
    border: 1px solid #757575;
    border-radius: 5px;
}

.container {
    padding: 30px 40px;
    
}

/* menu item styling */
.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    border-bottom: 2px solid #D2D2D2;
    padding-bottom: 20px;
    padding-top: 20px;

}

.item-container {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 30px;

}

.item-img {
    width: 80px;
    height: 90px;
}

.item-container .item-info {
    text-align: left;
}

.ingredients {
    color: #8B8B8B;
    font-size: 16px;
    margin-top: 0px;
    letter-spacing: 0.5pt;
}

.price {
    font-size: 25px;
}

.item-info .item-name {
    margin: 0 0 0 0;
    padding: 0;
}

.add-btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    color: #3C3C3C;
    font-family: serif;
    font-weight: 300;
}

.add-btn:hover {
    background-color: #DEDEDE;
}


/* order info styling */

.order-info .item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-info .item-info div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.remove-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #BBBBBB;
    margin: 0;
    height: 10px;
}
.remove-btn:hover{
    color: #ec6c6c;
}

.ordered-items{
    display: none;
    border-bottom: 2px solid #393333;
}
.total-price{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.complete-order{
    margin-top: 30px;
}
.btn-large{
    width: 100%;
    background-color: #16DB99;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px;

}
.btn-large:hover{
    background-color: #16DB99;
    opacity: 0.8;
}

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: none;  /* flex */
    
}

.modal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    width: 450px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pay-btn{
    margin-top: 15px;
}